In [111]:
import pandas as pd

In [112]:
#read the CSV file
data = pd.read_csv("data\\raw\\Telco-Customer-Churn.csv")
data.shape

(7043, 21)

In [113]:
data.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

In [114]:
data.describe(include="all")

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
count,7043,7043,7043.000000,7043,7043,7043.000000,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043.000000,7043,7043
unique,7043,2,NaN,2,2,NaN,2,3,3,3,3,3,3,3,3,3,2,4,NaN,6531,2
top,7590-VHVEG,Male,NaN,No,No,NaN,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,NaN,20.2,No
freq,1,3555,NaN,3641,4933,NaN,6361,3390,3096,3498,3088,3095,3473,2810,2785,3875,4171,2365,NaN,11,5174
mean,NaN,NaN,0.162147,NaN,NaN,32.371149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.761692,NaN,NaN
std,NaN,NaN,0.368612,NaN,NaN,24.559481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.090047,NaN,NaN
min,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.250000,NaN,NaN
25%,NaN,NaN,0.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.500000,NaN,NaN
50%,NaN,NaN,0.000000,NaN,NaN,29.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.350000,NaN,NaN
75%,NaN,NaN,0.000000,NaN,NaN,55.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.850000,NaN,NaN
max,NaN,NaN,1.000000,NaN,NaN,72.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118.750000,NaN,NaN

In [115]:
# data['OnlineSecurity'].unique()

In [116]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

### Tak away from Describe and info

1. Customer Id has uniques key, we can ignore all this colume while training
2. Most of the columes are object including totalcharges which looks like Float one
3. Object colums are categories into 2 to 4 categories. We will convert categorical data into numerical one.

In [117]:
data.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [118]:
data.nunique()

customerID          7043
gender                 2
SeniorCitizen          2
Partner                2
Dependents             2
tenure                73
PhoneService           2
MultipleLines          3
InternetService        3
OnlineSecurity         3
OnlineBackup           3
DeviceProtection       3
TechSupport            3
StreamingTV            3
StreamingMovies        3
Contract               3
PaperlessBilling       2
PaymentMethod          4
MonthlyCharges      1585
TotalCharges        6531
Churn                  2
dtype: int64

In [119]:
# Encoding

#binary encoding

binary_cols = ["gender", "Partner", "Dependents", "PhoneService", "PaperlessBilling", "Churn"]

# mapping values to 0 or 1

data[binary_cols] = data[binary_cols].replace({
    'Yes':1, 'No':0, 'Male': 1, 'Female': 0 
}).astype(int)
data.head(3)

C:\Users\dvijesh.bhatt\AppData\Local\Temp\8\ipykernel_33672\639241012.py:9: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[binary_cols] = data[binary_cols].replace({

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,0,0,1,0,1,0,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,1,Electronic check,29.85,29.85,0
1,5575-GNVDE,1,0,0,0,34,1,No,DSL,Yes,No,Yes,No,No,No,One year,0,Mailed check,56.95,1889.5,0
2,3668-QPYBK,1,0,0,0,2,1,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,1,Mailed check,53.85,108.15,1

In [120]:
service_col=["StreamingTV","StreamingMovies","InternetService","MultipleLines","PhoneService"]
data["n_services"] = (data[service_col] == "Yes").sum(axis=1)

In [121]:
data.head(20)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,n_services
0,7590-VHVEG,0,0,1,0,1,0,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,1,Electronic check,29.85,29.85,0,0
1,5575-GNVDE,1,0,0,0,34,1,No,DSL,Yes,No,Yes,No,No,No,One year,0,Mailed check,56.95,1889.5,0,0
2,3668-QPYBK,1,0,0,0,2,1,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,1,Mailed check,53.85,108.15,1,0
3,7795-CFOCW,1,0,0,0,45,0,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,0,Bank transfer (automatic),42.30,1840.75,0,0
4,9237-HQITU,0,0,0,0,2,1,No,Fiber optic,No,No,No,No,No,No,Month-to-month,1,Electronic check,70.70,151.65,1,0
5,9305-CDSKC,0,0,0,0,8,1,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,1,Electronic check,99.65,820.5,1,3
6,1452-KIOVK,1,0,0,1,22,1,Yes,Fiber optic,No,Yes,No,No,Yes,No,Month-to-month,1,Credit card (automatic),89.10,1949.4,0,2
7,6713-OKOMC,0,0,0,0,10,0,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,0,Mailed check,29.75,301.9,0,0
8,7892-POOKP,0,0,1,0,28,1,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes,Month-to-month,1,Electronic check,104.80,3046.05,1,3
9,6388-TABGU,1,0,0,1,62,1,No,DSL,Yes,Yes,No,No,No,No,One year,0,Bank transfer (automatic),56.15,3487.95,0,0
10,9763-GRSKD,1,0,1,1,13,1,No,DSL,Yes,No,No,No,No,No,Month-to-month,1,Mailed check,49.95,587.45,0,0
11,7469-LKBCI,1,0,0,0,16,1,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,0,Credit card (automatic),18.95,326.8,0,0
12,8091-TTVAX,1,0,1,0,58,1,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,One year,0,Credit card (automatic),100.35,5681.1,0,3
13,0280-XJGEX,1,0,0,0,49,1,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,1,Bank transfer (automatic),103.70,5036.3,1,3
14,5129-JLPIS,1,0,0,0,25,1,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Month-to-month,1,Electronic check,105.50,2686.05,0,2
15,3655-SNQYZ,0,0,1,1,69,1,Yes,Fiber optic,Yes,Yes,Yes,Yes,Yes,Yes,Two year,0,Credit card (automatic),113.25,7895.15,0,3
16,8191-XWSZG,0,0,0,0,52,1,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,0,Mailed check,20.65,1022.95,0,0
17,9959-WOFKT,1,0,0,1,71,1,Yes,Fiber optic,Yes,No,Yes,No,Yes,Yes,Two year,0,Bank transfer (automatic),106.70,7382.25,0,3
18,4190-MFLUW,0,0,1,1,10,1,No,DSL,No,No,Yes,Yes,No,No,Month-to-month,0,Credit card (automatic),55.20,528.35,1,0
19,4183-MYFRB,0,0,0,0,21,1,No,Fiber optic,No,Yes,Yes,No,No,Yes,Month-to-month,1,Electronic check,90.05,1862.9,0,1

In [97]:
# Encoding
#Multi-categories encoding
from sklearn.preprocessing import LabelEncoder
multi_category_cols = ["MultipleLines", "InternetService", "OnlineSecurity", "OnlineBackup", "DeviceProtection", "TechSupport","StreamingTV","StreamingMovies","Contract","PaymentMethod"]

# mapping values to 0 or 1
label_encoder = LabelEncoder()

for col in multi_category_cols:
    data[col] = label_encoder.fit_transform(data[col])
    print(f"Mapping for column '{col}': {dict(zip(label_encoder.classes_, range(len(label_encoder.classes_))))}")
data.head(3)

Mapping for column 'MultipleLines': {'No': 0, 'No phone service': 1, 'Yes': 2}
Mapping for column 'InternetService': {'DSL': 0, 'Fiber optic': 1, 'No': 2}
Mapping for column 'OnlineSecurity': {'No': 0, 'No internet service': 1, 'Yes': 2}
Mapping for column 'OnlineBackup': {'No': 0, 'No internet service': 1, 'Yes': 2}
Mapping for column 'DeviceProtection': {'No': 0, 'No internet service': 1, 'Yes': 2}
Mapping for column 'TechSupport': {'No': 0, 'No internet service': 1, 'Yes': 2}
Mapping for column 'StreamingTV': {'No': 0, 'No internet service': 1, 'Yes': 2}
Mapping for column 'StreamingMovies': {'No': 0, 'No internet service': 1, 'Yes': 2}
Mapping for column 'Contract': {'Month-to-month': 0, 'One year': 1, 'Two year': 2}
Mapping for column 'PaymentMethod': {'Bank transfer (automatic)': 0, 'Credit card (automatic)': 1, 'Electronic check': 2, 'Mailed check': 3}

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,n_services
0,7590-VHVEG,0,0,1,0,1,0,1,0,0,2,0,0,0,0,0,1,2,29.85,29.85,0,0
1,5575-GNVDE,1,0,0,0,34,1,0,0,2,0,2,0,0,0,1,0,3,56.95,1889.5,0,0
2,3668-QPYBK,1,0,0,0,2,1,0,0,2,2,0,0,0,0,0,1,3,53.85,108.15,1,0

In [98]:
#convert all bool col to int
bool_cols_list = data.select_dtypes(include='bool').columns
data[bool_cols_list] = data[bool_cols_list].astype(int)

In [99]:
#Totalcharges to numerical

data["TotalCharges"] = pd.to_numeric(data["TotalCharges"],errors='coerce')
data["TotalCharges"].dtype

dtype('float64')

In [100]:
data["TotalCharges"].isnull().sum()

np.int64(11)

In [101]:
import numpy as np

### as per above result There are 11 missing values in the TotalCharges column. There are 2 ways to deal with it

1. delete the rows as there are only 11 rows are there so it won't make much impact
2. Check why it is NaN and replace with 0

In [102]:
pd.set_option('display.max_columns',None)

In [103]:
data[np.isnan(data["TotalCharges"])]

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,n_services
488,4472-LVYGI,0,0,1,1,0,0,1,0,2,0,2,2,2,0,2,1,0,52.55,NaN,0,1
753,3115-CZMZD,1,0,0,1,0,1,0,2,1,1,1,1,1,1,2,0,3,20.25,NaN,0,0
936,5709-LVOEQ,0,0,1,1,0,1,0,0,2,2,2,0,2,2,2,0,3,80.85,NaN,0,2
1082,4367-NUYAO,1,0,1,1,0,1,2,2,1,1,1,1,1,1,2,0,3,25.75,NaN,0,1
1340,1371-DWPAZ,0,0,1,1,0,0,1,0,2,2,2,2,2,0,2,0,1,56.05,NaN,0,1
3331,7644-OMVMY,1,0,1,1,0,1,0,2,1,1,1,1,1,1,2,0,3,19.85,NaN,0,0
3826,3213-VVOLG,1,0,1,1,0,1,2,2,1,1,1,1,1,1,2,0,3,25.35,NaN,0,1
4380,2520-SGTTA,0,0,1,1,0,1,0,2,1,1,1,1,1,1,2,0,3,20.00,NaN,0,0
5218,2923-ARZLG,1,0,1,1,0,1,0,2,1,1,1,1,1,1,1,1,3,19.70,NaN,0,0
6670,4075-WKNIU,0,0,1,1,0,1,2,0,0,2,2,2,2,0,2,0,3,73.35,NaN,0,2
6754,2775-SEFEE,1,0,0,1,0,1,2,0,2,2,0,2,0,0,2,1,0,61.90,NaN,0,1

### You can see that tenure is zero which Total Charges are 0

In [104]:
data[data["tenure"] == 0].index

Index([488, 753, 936, 1082, 1340, 3331, 3826, 4380, 5218, 6670, 6754], dtype='int64')

In [105]:
#compare the index and we can say index of tenure is same as missing data in TotalCharge
data.drop(labels=data[data["tenure"]==0].index,axis=0,inplace=True)

In [106]:
#customer Id has all unique value such a feature can't play major role in the predication
data.shape

(7032, 22)

In [107]:
data = data.drop(['customerID'],axis=1)

In [108]:
service_col=["StreamingTV","StreamingMovies","InternetService","MultipleLines","PhoneService","gender"]
for col in service_col:
    data = data.drop([col],axis=1)

In [109]:
corr_matrix = data.corr(numeric_only=True)
churn_corr = corr_matrix['Churn'].sort_values(ascending=False)
print(churn_corr)

Churn               1.000000
MonthlyCharges      0.192858
PaperlessBilling    0.191454
SeniorCitizen       0.150541
PaymentMethod       0.107852
n_services          0.072623
Partner            -0.149982
Dependents         -0.163128
DeviceProtection   -0.177883
OnlineBackup       -0.195290
TotalCharges       -0.199484
TechSupport        -0.282232
OnlineSecurity     -0.289050
tenure             -0.354049
Contract           -0.396150
Name: Churn, dtype: float64

In [84]:
correlation_matrix = data.corr()
corr_matrix

,gender,SeniorCitizen,Partner,Dependents,tenure,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,n_services
gender,1.000000,-0.001819,-0.001379,0.010349,0.005285,-0.014899,-0.011920,0.001348,-0.006695,0.000095,-0.011902,0.016942,-0.013779,0.000048,-0.008545,-0.011570
SeniorCitizen,-0.001819,1.000000,0.016957,-0.210550,0.015683,-0.127937,-0.013355,-0.021124,-0.151007,-0.141820,0.156258,-0.038158,0.219874,0.102411,0.150541,0.163282
Partner,-0.001379,0.016957,1.000000,0.452269,0.381912,0.150610,0.153045,0.165614,0.126488,0.294094,-0.013957,-0.156232,0.097825,0.319072,-0.149982,0.170707
Dependents,0.010349,-0.210550,0.452269,1.000000,0.163386,0.151198,0.090231,0.079723,0.132530,0.240556,-0.110131,-0.041989,-0.112343,0.064653,-0.163128,-0.035073
tenure,0.005285,0.015683,0.381912,0.163386,1.000000,0.327283,0.372434,0.372669,0.324729,0.676734,0.004823,-0.370087,0.246862,0.825880,-0.354049,0.398049
OnlineSecurity,-0.014899,-0.127937,0.150610,0.151198,0.327283,1.000000,0.184942,0.175789,0.284875,0.373980,-0.157723,-0.096593,-0.053576,0.254473,-0.289050,-0.006362
OnlineBackup,-0.011920,-0.013355,0.153045,0.090231,0.372434,0.184942,1.000000,0.187646,0.195581,0.280617,-0.012697,-0.125534,0.119943,0.375556,-0.195290,0.146546
DeviceProtection,0.001348,-0.021124,0.165614,0.079723,0.372669,0.175789,0.187646,1.000000,0.240476,0.350067,-0.037596,-0.136460,0.163984,0.389066,-0.177883,0.258467
TechSupport,-0.006695,-0.151007,0.126488,0.132530,0.324729,0.284875,0.195581,0.240476,1.000000,0.425072,-0.113617,-0.104544,-0.008237,0.276890,-0.282232,0.085752
Contract,0.000095,-0.141820,0.294094,0.240556,0.676734,0.373980,0.280617,0.350067,0.425072,1.000000,-0.175475,-0.229636,-0.072739,0.450306,-0.396150,0.142137
PaperlessBilling,-0.011902,0.156258,-0.013957,-0.110131,0.004823,-0.157723,-0.012697,-0.037596,-0.113617,-0.175475,1.000000,-0.061348,0.351930,0.157830,0.191454,0.265374
PaymentMethod,0.016942,-0.038158,-0.156232,-0.041989,-0.370087,-0.096593,-0.125534,-0.136460,-0.104544,-0.229636,-0.061348,1.000000,-0.192500,-0.330594,0.107852,-0.210356
MonthlyCharges,-0.013779,0.219874,0.097825,-0.112343,0.246862,-0.053576,0.119943,0.163984,-0.008237,-0.072739,0.351930,-0.192500,1.000000,0.651065,0.192858,0.773696
TotalCharges,0.000048,0.102411,0.319072,0.064653,0.825880,0.254473,0.375556,0.389066,0.276890,0.450306,0.157830,-0.330594,0.651065,1.000000,-0.199484,0.666337
Churn,-0.008545,0.150541,-0.149982,-0.163128,-0.354049,-0.289050,-0.195290,-0.177883,-0.282232,-0.396150,0.191454,0.107852,0.192858,-0.199484,1.000000,0.072623
n_services,-0.011570,0.163282,0.170707,-0.035073,0.398049,-0.006362,0.146546,0.258467,0.085752,0.142137,0.265374,-0.210356,0.773696,0.666337,0.072623,1.000000

In [22]:
duplicate_count = data.duplicated().sum()
duplicate_count

np.int64(22)

In [23]:
data.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'PaperlessBilling', 'MonthlyCharges', 'TotalCharges',
       'Churn', 'MultipleLines_No phone service', 'MultipleLines_Yes',
       'InternetService_Fiber optic', 'InternetService_No',
       'OnlineSecurity_No internet service', 'OnlineSecurity_Yes',
       'OnlineBackup_No internet service', 'OnlineBackup_Yes',
       'DeviceProtection_No internet service', 'DeviceProtection_Yes',
       'TechSupport_No internet service', 'TechSupport_Yes',
       'StreamingTV_No internet service', 'StreamingTV_Yes',
       'StreamingMovies_No internet service', 'StreamingMovies_Yes',
       'Contract_One year', 'Contract_Two year',
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check'],
      dtype='object')

In [24]:
data['No_internet_service'] = (
            data['OnlineSecurity_No internet service'] |
            data['OnlineBackup_No internet service'] |
            data['DeviceProtection_No internet service'] |
            data['TechSupport_No internet service'] |
            data['StreamingTV_No internet service'] |
            data['StreamingMovies_No internet service']
        ).astype(int)

In [25]:
data.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,InternetService_No,OnlineSecurity_No internet service,OnlineSecurity_Yes,OnlineBackup_No internet service,OnlineBackup_Yes,DeviceProtection_No internet service,DeviceProtection_Yes,TechSupport_No internet service,TechSupport_Yes,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,No_internet_service
0,0,0,1,0,1,0,1,29.85,29.85,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,34,1,0,56.95,1889.50,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0
2,1,0,0,0,2,1,1,53.85,108.15,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,1,0,0,0,45,0,0,42.30,1840.75,0,1,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,2,1,1,70.70,151.65,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [55]:
data.to_csv("data\\raw\\data_for_training.csv",index=False)